@import url('https://font.google.com/specimen/Roboto');
html,body{
	width: 100%;
	height: 100%;
	font-family: 'Roboto';
	font-size: 28px;
	color: rgba(116,19,203,1.00);
}
.ahihi {
	background: rgba(37,176,164,1.00) !important;
}
